<%- include("partials/header"); -%>
  <div class="page-head">
    <h1>ABOUT</h1>
  </div>
  <div class="container-fluid about-content">
    <h2 class="about-head">ABOUT THE DOCTORS</h2>
    <div class="row">
      <div class="service-col col-lg-6">
        <div class="doctor-img">
          <img class="doc-pic" src="images/dog-img.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="card doctor-desc">
          <div class="doctor-name">
            <h5>Dr. Apoorv Srivastava</h5>
          </div>
          <div class="doctor-info">
            <p class="doctor-info">ORAL DENTAL SURGEON<br>B.D.S.(R.G.U.H.S. Karnataka)<br>D. Ortho(New Delhi)<br>Ex. Consultant, Jeevika Hospital</p>
          </div>
        </div>
      </div>
      <div class="service-col col-lg-6">
        <div class="doctor-img">
          <img class="doc-pic" src="images/lady-img.jpg" width="100px" height="100px" alt="">
        </div>
        <div class="card doctor-desc">
          <div class="doctor-name">
            <h5>Dr. Akansha Srivastava</h5>
          </div>
          <div class="doctor-info">
            <p class="doctor-info">ORAL FACIAL SURGEON<br>B.D.S.(Rama Dental College)<br>D. Ortho(New Delhi)<br>Ex. Consultant, Muskan Hospital</p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-clinic">
      <h2 class="about-head">ABOUT THE CLINIC</h2>
      <p class="doctor-info">Ekdantam Dental CLinic was established on September 11, 2019. It is the extended branch of Jai Devi Dental Clinic, Prem Nagar, Orai. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
<%- include("partials/footer"); -%>
