  <%- include("partials/header"); -%>
  <div class="page-head contact-head">
    <h1>CONTACT</h1>
  </div>
  <div class="cont">
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3585.9384462229227!2d79.46727201509049!3d26.00283368352799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399d7f5481a6e4c3%3A0x4ed8786532e05b31!2sAkansha%20Ekdantam%20Dental%20Clinic!5e0!3m2!1sen!2sin!4v1599728181436!5m2!1sen!2sin" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="row contact-row">
      <div class="col-lg-4 contact-col">
        <h3 class="contact-type">Phone</h3>
        <h5 class="contact-data">+917398889379</h5>
      </div>
      <div class="col-lg-4 contact-col">
        <h3 class="contact-type">Our Address </h3>
        <h5 class="contact-data">In Front of Gate No. 1, Medical College, Orai</h5>
      </div>
      <div class="col-lg-4 contact-col">
        <h3 class="contact-type">Opening Hours </h3>
        <h6 class="contact-data">Mon-Sat: 9:00AM - 5:00PM</h6>
        <h6 class="contact-data">Sun : 10:00AM - 2:00PM</h6>
      </div>
    </div>
  </div>
  <%- include("partials/footer"); -%>
